target/
out/
.gradle/
.gradletasknamecache
.idea/
logs/
classes/
build/
buildPlugins/
!buildSrc/**/*
buildSrc/build/
buildSrc/.gradle
buildSrc/.idea

*.ipr
*.iml
*.iws
*.log
*.orig
*.class
*.hprof
.DS_Store
